@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply relative box-border;
}

a {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
input, [contenteditable="true"], textarea {
    @apply bg-transparent outline-none focus:outline-none;
}
@media (prefers-color-scheme: dark) {
    input[type="date"]{
        color-scheme: dark;
    }
}

.border-primary {
    border-color: var(--color-primary);
}
.border-secondary {
    border-color: var(--color-secondary);
}
